body{
    background: url(../img/fondo.jpg) no-repeat right bottom, left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #faffff;
}

.wrapper > div.container {
    margin-bottom: 20px;
}

.nav-top{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.90) 40%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.90) 40%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.90) 40%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	padding: 20px 15px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

ul.nav li {
    margin: 15px 15px 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: uppercase;
	font-size: .8em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active-trail > a{
    background: #62355e;
    color: white;
}

.logo img{
    display: inline-block;
}

footer a, footer p, i{
    color: #a80838;
}

footer{
    background-image: url('../img/footer-hielos.png');
    text-align: center;
    padding: 2% 0 150px;
    text-transform: uppercase;
    margin-top: 5%;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

footer p{
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.footer > div:first-child{
	text-align: left;
}

.footer > div:last-child, .logo{
	text-align: right;
}

.footer{
    padding-top: 10px;
}

.social li {
    display: inline-block;
	margin: 10px;
}

.social li a{
    margin: 0 5px;
    border: 1px solid #a90036;
    padding: 15px 19px;
    border-radius: 100px;
    font-size: 1.5em;
}

.social li a:hover, .social li a:hover i {
    background: #c83976;
    color: white;
}

@media only screen and (max-width: 1199px){
	ul.nav li {
		margin: 25px 10px 0 1px;
	}
}

@media only screen and (max-width: 768px){
	.logo, .footer > div:first-child, .footer > div:last-child{
		text-align: center;
		margin-bottom: 20px;
	}
	
	.social{
		padding: 20px 0 0 0;
	}
	
}