.main-content .container > div.row{
    margin-bottom: 25px;
}

.title-section, .image-section {
    text-align: center;
	margin-bottom: 25px;
}

.title-section img, .image-section img{
    display: inline;
}

.introduction-section p {
    font-weight: 700;
}

.information{
	margin-top: 8%;
}

.data-info i {
    width: 50px;
    text-align: center;
}

.data-info p{
    font-size: 1.7em;
}

.contact{
	background: #fff;
	text-align: center;
}

.card{
	border: 10px solid transparent;
	-moz-border-image:url("../img/imgPal/border.png") 30 round; /* Old firefox */
	-webkit-border-image:url("../img/imgPal/border.png") 30 round; /* Safari */
	-o-border-image:url("../img/imgPal/border.png") 30 round; /* Opera */
	border-image:url("../img/imgPal/border.png") 30 round;
    border-bottom: 0;
	border-right: 0;
	border-left: 0;
	color: #62355e;
}

.card p {
    margin: 0;
	font-weight: 700;
    font-size: 1em;
}

.card > div, .information .card h2, .multifilter > div, .pk-sabores > div {
    margin-bottom: 25px;
}


.information h2, .data-info > div, .card-suc> div{
    margin-bottom: 50px;
}

.card > div:nth-child(4){
	color: #a80838; 
}

.card i.fa {
    border: 2px solid;
    padding: 8px 15px;
    border-radius: 100px;
    margin-right: 1em;
	color: #62355e;
}

.card-suc i.fa.fa-phone{
	padding: 10px 13px;
}

.card-suc i.fa.fa-map-marker{
	padding: 10px 16px;
}

.card i.fa.fa-info {
    padding: 8px 18px;
}

.card i.fa.fa-gift {
    padding: 10px 12px;
	color: #a80838;
}

.multifilter div.btn{
	width: 100%;
    height: 60px;
}

.multifilter div.btn img{
    display: inline-block;
	margin: 0 20px 0 10px;
	width: 50px;
    height: 50px;
	padding-bottom: 5px;
}

.multifilter div.btn h3{
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
}

form#webform-client-form-6 input.form-text, form#webform-client-form-6 textarea {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
}

form#webform-client-form-6 input[type=submit], .card button, .multifilter div.btn{
    color: #a80838;
    background: transparent;
    border: 2px solid #a80838;
    padding: 6px 15px;
    border-radius: 3px;
    font-weight: 700;
	text-transform: uppercase;
}

form#webform-client-form-6 input[type=submit]:hover, .card button:hover {
    color: #fff;
    background: #a80838;
}


.multifilter div.btn{
    color: #62355e;
    border: 2px solid #62355e;
}

.multifilter div.btn:hover {
    color: #fff;
    background: #62355e;
}

@media only screen and (max-width: 500px){
	.multifilter div.btn h3 {
		font-size: 1.2em;
	}
}