<div id="myModal" class="modal fade in" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
			 
							<div class="modal-header">
								<h3 class="modal-title">Mensaje de Icy Potion:</h3>
							</div>
							<div class="modal-body">
								<h4>¿Eres mayor de 18 años?</h4>
							</div>
							<div class="modal-footer">
								<button class="btn btn-danger mayor">Si</button>
								<button class="btn btn-primary menor">No</button>
							</div>
			 
						</div>
					</div>
				</div>
				
				<div class="modal-backdrop fade in"></div>